h1{
    font-style: italic;
    color: cadetblue;
}
#bg{
    background-color: skyblue;
}
.size{
    font-size: 50px;
}
.color{
    color: tomato;
}
.place1{
    width: 500px;
    height: 500px;
    background-color: yellow;
}
.place2{
    width: 500px;
    height: 500px;
    background-color: red;
}
.font{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bolder;

}
.background{
    width: 500px;
    height: 500px;
    background-color: lightcyan;
    background-image: url();
}
.background{
    background: violet url() no-repeat, 40px 100px;
}